#Backend
backend/.idea/
backend/node_modules/
backend/build/
backend/tmp/
backend/temp/
backend/public/

#Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/*.pem
frontend/.vercel

#All
/**/*.env
/**/*.env-*
/**/*DS_Store*
/**/*npm-debug.log*
/**/*yarn-debug.log*
/**/*yarn-error.log*